.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;  
  }

/* .bdy{
  background-image: url('login.jpg');
} */
body{
  background: rgb(16,110,190);
  background: linear-gradient(180deg, rgba(16,110,190,1) 30%, rgba(16,115,193,1) 39%, rgba(16,124,198,1) 45%, rgba(17,140,207,1) 57%, rgba(19,183,231,1) 81%);
      background-repeat: no-repeat;
      background-size:cover;
}

.form-signup {
width: 100%;
max-width: 330px;
padding: 15px;
margin: auto;
}

.form-signup .checkbox {
font-weight: 400;
}

.form-signup .form-floating:focus-within {
z-index: 2;
}
.form-signup input[name="username"] {
margin-bottom: -1px;
border-bottom-right-radius: 1;
border-bottom-left-radius: 1;
border-color: #ffffff;
background-color: #0fffbf3f;
}
.form-signup input[name="phone"] {
margin-bottom: -1px;
border-bottom-right-radius: 1;
border-bottom-left-radius: 1;
border-top-left-radius: 1 ;
border-color: #ffffff;
border-top-right-radius: 1; 
background-color: #0fffbf3f;
}

.form-signup input[type="email"] {
margin-bottom: -1px;
border-bottom-right-radius: 1;
border-bottom-left-radius: 1;
border-top-left-radius: 1 ;
border-top-right-radius: 1;
border-color: #ffffff;
/* opacity: 0.1; */
background-color: #0fffbf3f;
}

.form-signup input[type="password"] {
margin-bottom: 10px;
border-color: #ffffff;
border-top-left-radius: 1;
border-top-right-radius: 1;
background-color: #0fffbf3f;
} 
/* .form-signup{
  background-image: url('login.jpg');
} */
#bttn{
  background-color:#0fffbe;
  color:black ;
  
}